.activityList {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    padding: 1rem;
    max-height: 76vh;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.activityList::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.activityWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 2rem;
}

.timestamp {
    font-size: .8rem;
    color:darkgray;
}
